.content {
    max-width:860px;
    margin:50px auto;
}

.button {
    width:160px;
    color: cornflowerblue;
    background-color: burlywood;
    text-align:center;
    margin: 50px auto;
    padding: 10px 5px;
    display:block;
    text-decoration: none;
    line-height: 18px;
    text-transform: uppercase;
    box-shadow: 0 5px 15px 2px  #ba9f34;
}

.button {
    animation-name: btnAnimate2;
    animation-duration: 5s;
}
@keyframes btnAnimate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes btnAnimate2 {
    25% {
        transform:rotate(70deg);
    }

    50% {
        transform:rotate(10deg);
    }

    75% {
        transform:rotate(180deg);
    }
}