.content {
    max-width:860px;
    margin:50px auto;
}

[class^=block] {
    width:150px;
    height:40px;
    margin:0 auto 30px;
    background-color:green;
    transition-duration:1s, 3s;
    transition-property: width, background;
}


.content:hover [class^=block] {
    width:700px;
    background-color: aqua;
}

.block {
    transition-timing-function: ease-in-out;
}

.block-2 {
    transition-timing-function: linear;  //свойство смены стиля переходов
}

.block-3 {
    transition-timing-function: ease-out;
}